.App {
  text-align: center;
}

body {
  background: #4885a5;
}

.time {
  font-size: 20rem;
  color: white;
}

.text {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.bingo-title {
  font-size: 3.8rem;
  margin-bottom: 1rem;
  color: white;
}

.bingo-button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #0c326b;
  border: #0c326b 0.1rem solid;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  padding: 0.5rem;
}

.bingo-button:hover {
  background-color: #0a244d8f;
  border: #0c326b 0.1rem solid;
}

.bingo-button:active {
  background-color: #0a244d;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.bingo-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 10rem;
  width: 10rem;
  font-size: 3.8rem;
  background-color: #ffef96;
  border-radius: 50%;
  margin-top: 1rem;
}

.small-bingo-ball {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 5.1rem;
  width: 5.1rem;
  font-size: 2rem;
  background-color: #ffef96;
  border-radius: 50%;
  margin: 0 1rem;
}

.bingo-space {
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  border: white 0.2rem solid;
  border-radius: 50%;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.bingo-grid {
  position: absolute;
  left: 2rem;
  top: 3rem;
  border: white 0.2rem solid;
  border-radius: 0.4rem;
  color: white;
  background-color: #0c326b;
}

.filled {
  background-color: #ffef96;
  color: black;
}

.grid-button {
  margin-top: 0.5rem;
  position: absolute;
  left: 6.6rem;
  color: white;
  background-color: #0c326b;
  border: #0c326b 0.1rem solid;
  border-radius: 0.3rem;
  padding: 0.2rem;
  font-size: 1.1rem;
}

.grid-button:hover {
  background-color: #0c326b8f;
  border: #0c326b 0.1rem solid;
}

.grid-button:active {
  background-color: #0a244d;
}

.timer-location {
  position: absolute;
  right: 6.6rem;
}

.timer-button {
  margin: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: #0c326b;
  border: #0c326b 0.1rem solid;
  border-radius: 0.3rem;
  padding: 0.2rem;
  font-size: 1.1rem;
}
.timer-button:hover {
  background-color: #0c326b8f;
  border: #0c326b 0.1rem solid;
}

.timer-button:active {
  background-color: #0a244d;
}

.bottom-space {
  margin-bottom: 1rem;
}

.last-five {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.bingo-ball-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-timer {
  padding: 0 0;
  height: 49rem;
  width: 100%;
}

table {
  margin: 1rem;
  border-collapse: collapse;
}

td {
  width: 10rem;
  font-size: 2rem;
  background-color: #ddf2ff;
  padding: 0 2rem;
}

th {
  width: 8rem;
  background-color: #0c326b;
  color: white;
  font-size: 3rem;
}

tr {
  height: 2.3rem;
}
