.App {
  text-align: center;
}

body {
  /* background-color: #909090; */
}

.text {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: black;
  /* color: white; */
}

.bingo-title {
  font-size: 3.8rem;
  margin-bottom: 1rem;
  color: black;
  /* color: white; */
}

.bingo-button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: black;
  border: black 0.1rem solid;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  padding: 0.5rem;
}

.bingo-button:hover {
  background-color: #777;
  border: black 0.1rem solid;
}

.bingo-button:active {
  background-color: #999;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.bingo-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  font-size: 4rem;
  color: white;
  background-color: #ff3300;
  border-radius: 50%;
  margin-top: 1rem;
}

.small-bingo-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  color: white;
  background-color: #ff3300;
  border-radius: 50%;
  margin: 0 1rem;
}

.bingo-space {
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  border: black 0.1rem solid;
  border-radius: 50%;
  margin: 0.2rem;
}

.bingo-grid {
  position: absolute;
  left: 2rem;
  top: 3rem;
  border: black 0.1rem solid;
  border-radius: 0.4rem;
}

.filled {
  background-color: #ff3300;
}

.grid-button {
  margin-top: 0.5rem;
  position: absolute;
  left: 6.6rem;
  color: white;
  background-color: black;
  border: black 0.1rem solid;
  border-radius: 0.3rem;
  padding: 0.2rem;
  font-size: 1.1rem;
}

.grid-button:hover {
  background-color: #777;
  border: black 0.1rem solid;
}

.grid-button:active {
  background-color: #999;
}

.bottom-space {
  margin-bottom: 1rem;
}

.last-five {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.bingo-ball-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin: 1rem;
  border-collapse: collapse;
}

td {
  width: 10rem;
  font-size: 2rem;
  color: black;
  background-color: #ffef96;
  padding: 0 2rem;
}

th {
  width: 8rem;
  background-color: black;
  color: white;
  font-size: 3rem;
}

tr {
  height: 2.3rem;
}
